body,html {
	height: 100%;
	width: 100%;
/* 	background: url('<%= asset_path "noise.png" %>'); */
}

body {
    padding-top: 60px;
    font-weight: 400;
    font-size: 16px;
}

body,h1,h2,h3,h4,h5,h6 {
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

footer {
    margin: 50px 0;
}

/* required to avoid showing anchor links under navbar */
section {
    padding-top: 60px;
    margin-top: -60px;
}

.navbar-nav > li > a,navbar,navbar-brand,.navbar-brand,h1,h2,h3,h4,h5,h6 {
	font-weight: 700;
}

.lead {
	font-size: 18px;
	font-weight: 400;
}

